In [1]:
#importing libraries
import pandas
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

# #Reading the dataset

In [4]:
#reading the excel sheet
df = pandas.read_csv('student.csv')
df

,Unnamed: 0,roll_no,student_name,branch/course,sdur_C1,pref_C1,sdur_C2,pref_C2,sdur_C3,pref_C3,sdur_DE1,pref_DE1,sdur_DE2,pref_DE2,sdur_DE3,pref_DE3,sdur_OE1,pref_OE1
0,NaN,20051663,SATYAM TIWARI,CSE-09,12,hardcopy,3,hardcopy,5,hardcopy,10,hardcopy,6,hardcopy,2,hardcopy,9,eBook
1,NaN,2005244,NIHARIKA SINGH,CSE-10,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy
2,NaN,20051394,SHAINEE PATTNAIK,CSE-17,5,eBook,1,eBook,2,eBook,5,hardcopy,8,eBook,8,eBook,8,eBook
3,NaN,20051602,AANCHAL CHAMARIA,CSE-19,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook
4,NaN,20051047,VAISHALI PAWAR,CSE-10,6,hardcopy,6,hardcopy,6,hardcopy,6,eBook,6,eBook,6,eBook,6,hardcopy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2403,NaN,2028130,RITIK KUMAR,CSSE-02,39,hardcopy,18,eBook,36,hardcopy,49,hardcopy,18,eBook,7,eBook,7,eBook
2404,NaN,2028110,SHREYA GHOSH,CSSE-01,44,hardcopy,2,eBook,20,eBook,36,hardcopy,32,hardcopy,13,eBook,13,eBook
2405,NaN,2028169,PRATYUSH MISHRA,CSSE-02,37,hardcopy,38,hardcopy,62,hardcopy,20,eBook,38,hardcopy,45,hardcopy,45,hardcopy
2406,NaN,2028197,PREM BAHADUR SHAH,CSSE-02,67,eBook,42,hardcopy,17,eBook,62,hardcopy,13,eBook,50,hardcopy,50,hardcopy
2407,NaN,2028190,Srishty Nanda,CSSE-02,16,eBook,10,eBook,18,eBook,17,eBook,49,hardcopy,9,eBook,9,eBook

In [3]:
#computing the shape
df.shape

(2408, 18)

# Data preprocessing
    Dropping empty rows/columns
    Checking for duplicates

In [5]:
#dropping first column of dataframe (NaN)
df = df.iloc[: , 1:]
df

,roll_no,student_name,branch/course,sdur_C1,pref_C1,sdur_C2,pref_C2,sdur_C3,pref_C3,sdur_DE1,pref_DE1,sdur_DE2,pref_DE2,sdur_DE3,pref_DE3,sdur_OE1,pref_OE1
0,20051663,SATYAM TIWARI,CSE-09,12,hardcopy,3,hardcopy,5,hardcopy,10,hardcopy,6,hardcopy,2,hardcopy,9,eBook
1,2005244,NIHARIKA SINGH,CSE-10,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy
2,20051394,SHAINEE PATTNAIK,CSE-17,5,eBook,1,eBook,2,eBook,5,hardcopy,8,eBook,8,eBook,8,eBook
3,20051602,AANCHAL CHAMARIA,CSE-19,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook
4,20051047,VAISHALI PAWAR,CSE-10,6,hardcopy,6,hardcopy,6,hardcopy,6,eBook,6,eBook,6,eBook,6,hardcopy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2403,2028130,RITIK KUMAR,CSSE-02,39,hardcopy,18,eBook,36,hardcopy,49,hardcopy,18,eBook,7,eBook,7,eBook
2404,2028110,SHREYA GHOSH,CSSE-01,44,hardcopy,2,eBook,20,eBook,36,hardcopy,32,hardcopy,13,eBook,13,eBook
2405,2028169,PRATYUSH MISHRA,CSSE-02,37,hardcopy,38,hardcopy,62,hardcopy,20,eBook,38,hardcopy,45,hardcopy,45,hardcopy
2406,2028197,PREM BAHADUR SHAH,CSSE-02,67,eBook,42,hardcopy,17,eBook,62,hardcopy,13,eBook,50,hardcopy,50,hardcopy
2407,2028190,Srishty Nanda,CSSE-02,16,eBook,10,eBook,18,eBook,17,eBook,49,hardcopy,9,eBook,9,eBook

In [6]:
#shape updates
df.shape

(2408, 17)

In [7]:
#dropping empty 'rows'
df = df.dropna(axis = 0)
df

,roll_no,student_name,branch/course,sdur_C1,pref_C1,sdur_C2,pref_C2,sdur_C3,pref_C3,sdur_DE1,pref_DE1,sdur_DE2,pref_DE2,sdur_DE3,pref_DE3,sdur_OE1,pref_OE1
0,20051663,SATYAM TIWARI,CSE-09,12,hardcopy,3,hardcopy,5,hardcopy,10,hardcopy,6,hardcopy,2,hardcopy,9,eBook
1,2005244,NIHARIKA SINGH,CSE-10,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy
2,20051394,SHAINEE PATTNAIK,CSE-17,5,eBook,1,eBook,2,eBook,5,hardcopy,8,eBook,8,eBook,8,eBook
3,20051602,AANCHAL CHAMARIA,CSE-19,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook
4,20051047,VAISHALI PAWAR,CSE-10,6,hardcopy,6,hardcopy,6,hardcopy,6,eBook,6,eBook,6,eBook,6,hardcopy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2403,2028130,RITIK KUMAR,CSSE-02,39,hardcopy,18,eBook,36,hardcopy,49,hardcopy,18,eBook,7,eBook,7,eBook
2404,2028110,SHREYA GHOSH,CSSE-01,44,hardcopy,2,eBook,20,eBook,36,hardcopy,32,hardcopy,13,eBook,13,eBook
2405,2028169,PRATYUSH MISHRA,CSSE-02,37,hardcopy,38,hardcopy,62,hardcopy,20,eBook,38,hardcopy,45,hardcopy,45,hardcopy
2406,2028197,PREM BAHADUR SHAH,CSSE-02,67,eBook,42,hardcopy,17,eBook,62,hardcopy,13,eBook,50,hardcopy,50,hardcopy
2407,2028190,Srishty Nanda,CSSE-02,16,eBook,10,eBook,18,eBook,17,eBook,49,hardcopy,9,eBook,9,eBook

In [8]:
#shape updates
df.shape

(2408, 17)

In [9]:
#information in dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2408 entries, 0 to 2407
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   roll_no        2408 non-null   int64
 1   student_name   2408 non-null   object
 2   branch/course  2408 non-null   object
 3   sdur_C1        2408 non-null   int64
 4   pref_C1        2408 non-null   object
 5   sdur_C2        2408 non-null   int64
 6   pref_C2        2408 non-null   object
 7   sdur_C3        2408 non-null   int64
 8   pref_C3        2408 non-null   object
 9   sdur_DE1       2408 non-null   int64
 10  pref_DE1       2408 non-null   object
 11  sdur_DE2       2408 non-null   int64
 12  pref_DE2       2408 non-null   object
 13  sdur_DE3       2408 non-null   int64
 14  pref_DE3       2408 non-null   object
 15  sdur_OE1       2408 non-null   int64
 16  pref_OE1       2408 non-null   object
dtypes: int64(8), object(9)
memory usage: 319.9+ KB