In [21]:
#importing libraries
import pandas

# #Reading the dataset

In [22]:
#reading the excel sheet
df = pandas.read_csv('student.csv')
df

,Unnamed: 0,roll_no,student_name,branch/course,sdur_C1,pref_C1,sdur_C2,pref_C2,sdur_C3,pref_C3,sdur_DE1,pref_DE1,sdur_DE2,pref_DE2,sdur_DE3,pref_DE3,sdur_OE1,pref_OE1
0,NaN,20051663,SATYAM TIWARI,CSE-09,12,hardcopy,3,hardcopy,5,hardcopy,10,hardcopy,6,hardcopy,2,hardcopy,9,eBook
1,NaN,2005244,NIHARIKA SINGH,CSE-10,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy
2,NaN,20051394,SHAINEE PATTNAIK,CSE-17,5,eBook,1,eBook,2,eBook,5,hardcopy,8,eBook,8,eBook,8,eBook
3,NaN,20051602,AANCHAL CHAMARIA,CSE-19,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook
4,NaN,20051047,VAISHALI PAWAR,CSE-10,6,hardcopy,6,hardcopy,6,hardcopy,6,eBook,6,eBook,6,eBook,6,hardcopy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2403,NaN,2028130,RITIK KUMAR,CSSE-02,39,hardcopy,18,eBook,36,hardcopy,49,hardcopy,18,eBook,7,eBook,7,eBook
2404,NaN,2028110,SHREYA GHOSH,CSSE-01,44,hardcopy,2,eBook,20,eBook,36,hardcopy,32,hardcopy,13,eBook,13,eBook
2405,NaN,2028169,PRATYUSH MISHRA,CSSE-02,37,hardcopy,38,hardcopy,62,hardcopy,20,eBook,38,hardcopy,45,hardcopy,45,hardcopy
2406,NaN,2028197,PREM BAHADUR SHAH,CSSE-02,67,eBook,42,hardcopy,17,eBook,62,hardcopy,13,eBook,50,hardcopy,50,hardcopy
2407,NaN,2028190,Srishty Nanda,CSSE-02,16,eBook,10,eBook,18,eBook,17,eBook,49,hardcopy,9,eBook,9,eBook

In [23]:
#computing the shape
df.shape

(2408, 18)

# Data preprocessing
    Dropping empty rows/columns
    Checking for duplicates

In [24]:
#dropping first column of dataframe (NaN)
df = df.iloc[: , 1:]
df

,roll_no,student_name,branch/course,sdur_C1,pref_C1,sdur_C2,pref_C2,sdur_C3,pref_C3,sdur_DE1,pref_DE1,sdur_DE2,pref_DE2,sdur_DE3,pref_DE3,sdur_OE1,pref_OE1
0,20051663,SATYAM TIWARI,CSE-09,12,hardcopy,3,hardcopy,5,hardcopy,10,hardcopy,6,hardcopy,2,hardcopy,9,eBook
1,2005244,NIHARIKA SINGH,CSE-10,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy
2,20051394,SHAINEE PATTNAIK,CSE-17,5,eBook,1,eBook,2,eBook,5,hardcopy,8,eBook,8,eBook,8,eBook
3,20051602,AANCHAL CHAMARIA,CSE-19,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook
4,20051047,VAISHALI PAWAR,CSE-10,6,hardcopy,6,hardcopy,6,hardcopy,6,eBook,6,eBook,6,eBook,6,hardcopy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2403,2028130,RITIK KUMAR,CSSE-02,39,hardcopy,18,eBook,36,hardcopy,49,hardcopy,18,eBook,7,eBook,7,eBook
2404,2028110,SHREYA GHOSH,CSSE-01,44,hardcopy,2,eBook,20,eBook,36,hardcopy,32,hardcopy,13,eBook,13,eBook
2405,2028169,PRATYUSH MISHRA,CSSE-02,37,hardcopy,38,hardcopy,62,hardcopy,20,eBook,38,hardcopy,45,hardcopy,45,hardcopy
2406,2028197,PREM BAHADUR SHAH,CSSE-02,67,eBook,42,hardcopy,17,eBook,62,hardcopy,13,eBook,50,hardcopy,50,hardcopy
2407,2028190,Srishty Nanda,CSSE-02,16,eBook,10,eBook,18,eBook,17,eBook,49,hardcopy,9,eBook,9,eBook

In [25]:
#shape updates
df.shape

(2408, 17)

In [26]:
#dropping empty 'rows'
df = df.dropna(axis = 0)
df

,roll_no,student_name,branch/course,sdur_C1,pref_C1,sdur_C2,pref_C2,sdur_C3,pref_C3,sdur_DE1,pref_DE1,sdur_DE2,pref_DE2,sdur_DE3,pref_DE3,sdur_OE1,pref_OE1
0,20051663,SATYAM TIWARI,CSE-09,12,hardcopy,3,hardcopy,5,hardcopy,10,hardcopy,6,hardcopy,2,hardcopy,9,eBook
1,2005244,NIHARIKA SINGH,CSE-10,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy,3,hardcopy
2,20051394,SHAINEE PATTNAIK,CSE-17,5,eBook,1,eBook,2,eBook,5,hardcopy,8,eBook,8,eBook,8,eBook
3,20051602,AANCHAL CHAMARIA,CSE-19,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook,2,eBook
4,20051047,VAISHALI PAWAR,CSE-10,6,hardcopy,6,hardcopy,6,hardcopy,6,eBook,6,eBook,6,eBook,6,hardcopy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2403,2028130,RITIK KUMAR,CSSE-02,39,hardcopy,18,eBook,36,hardcopy,49,hardcopy,18,eBook,7,eBook,7,eBook
2404,2028110,SHREYA GHOSH,CSSE-01,44,hardcopy,2,eBook,20,eBook,36,hardcopy,32,hardcopy,13,eBook,13,eBook
2405,2028169,PRATYUSH MISHRA,CSSE-02,37,hardcopy,38,hardcopy,62,hardcopy,20,eBook,38,hardcopy,45,hardcopy,45,hardcopy
2406,2028197,PREM BAHADUR SHAH,CSSE-02,67,eBook,42,hardcopy,17,eBook,62,hardcopy,13,eBook,50,hardcopy,50,hardcopy
2407,2028190,Srishty Nanda,CSSE-02,16,eBook,10,eBook,18,eBook,17,eBook,49,hardcopy,9,eBook,9,eBook

In [27]:
#shape updates
df.shape

(2408, 17)

In [28]:
#information in dataframe
df.describe()

,roll_no,sdur_C1,sdur_C2,sdur_C3,sdur_DE1,sdur_DE2,sdur_DE3,sdur_OE1
count,2.408000e+03,2408.000000,2408.000000,2408.000000,2408.000000,2408.000000,2408.000000,2408.000000
mean,9.174952e+06,31.479236,31.740033,31.560631,31.657807,31.359219,31.661545,31.628738
std,8.860179e+06,18.826024,18.365889,18.697482,18.773551,18.812462,18.895567,18.633501
min,2.005001e+06,2.000000,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000
25%,2.005706e+06,13.000000,14.750000,14.000000,15.000000,13.000000,13.000000,14.000000
50%,2.006368e+06,36.000000,36.000000,36.000000,36.000000,35.000000,36.000000,36.000000
75%,2.005140e+07,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000
max,2.105307e+07,74.000000,69.000000,69.000000,69.000000,71.000000,71.000000,71.000000